<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>collaborations</title>
</head>
<body>
    <app-header></app-header>
    <h1 style="text-align: center;">Our Collaborations</h1>
    <spacer></spacer>
    <div id="box">
        <div id="pic1" class="uk-card "><img src="assets/market.jpg"></div>
        <br>
        <div class="uk-card" >
            <h3 id="line1">Some Title with big words and places</h3>
            <h6 id="line2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus tincidunt commodo. Nunc justo nisi, vestibulum facilisis
                porta vestibulum, ultrices volutpat arcu. Quisque nec dui mattis, fringilla magna in, vulputate enim. Fusce ut euismod ligula, id
                laoreet ex.</h6>
        </div>
        <div id="pic2" class="uk-card"><img src="assets/map.jpg"></div>
    </div>
    <spacer></spacer>
    <div id="box">
        <div id="pic1" class="uk-card"><img src="assets/price.jpg"></div>
        <br>
        <div class="uk-card " >
            <h3 id="line1">Some Title with big words and places</h3>
            <h6 id="line2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus tincidunt commodo. Nunc justo nisi, vestibulum facilisis
                porta vestibulum, ultrices volutpat arcu. Quisque nec dui mattis, fringilla magna in, vulputate enim. Fusce ut euismod ligula, id
                laoreet ex.</h6>
        </div>
        <div id="pic2" class="uk-card"><img src="assets/map.jpg"></div>
    </div>
    <spacer></spacer>
    <div id="box">
        <div id="pic1" class="uk-card"><img src="assets/medicine.jpg"></div>
        <br>
        <div class="uk-card " >
            <h3 id="line1">Some Title with big words and places</h3>
            <h6 id="line2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus tincidunt commodo. Nunc justo nisi, vestibulum facilisis
                porta vestibulum, ultrices volutpat arcu. Quisque nec dui mattis, fringilla magna in, vulputate enim. Fusce ut euismod ligula, id
                laoreet ex.</h6>
        </div>
        <div id="pic2" class="uk-card"><img src="assets/map.jpg"></div>
    </div>
    <spacer></spacer>
    <app-footer></app-footer>
</body>
</html>