<script src="uikit/dist/js/uikit-icons.min.js"></script>

<app-header></app-header>
<div id="wrapper">
    <h2>About Us</h2>
    <img src="../../assets/iasc-logo.png" alt="IASc. Logo" id="logo">
    <div id="iasc">
        <h3>The Institute of Applied Sciences, Prayagraj</h3>
        <p>&copy; Established 2001 (Registered under the Society Act of 1860)</p>
    </div>
    <div id="information">
        <div id="phone-email">
            <div id="phone">
                <i uk-icon="icon:receiver; ratio:2"></i>
                <div>
                    <p>0532-2644073; 09415309681;</p>
                    <p>09452163248; 094153066124</p>
                </div>
            </div>
            <div id="email">
                <i uk-icon="icon:mail; ratio:2"></i>
                <p>iasc.alld@rediffmail.com</p>
            </div>
        </div>
        <div id="addresses">
            <div>
                <address>644/508, Mumfordganj , Prayagraj,
                    211002 Uttar Pradesh</address>
                <address><span class="bold">Camp Office:</span> 21 MIG, Tripathi Crossing,
                    Mumfordganj, Prayagraj 211012</address>
            </div>
            <i uk-icon="icon:location; ratio:3"></i>
        </div>
    </div>
    <div id="text-wrapper">
        <p>
            With many advancements in science and technology and fast growing communication means the
            compartmentalization has become redundant and the world with sharing attitude for the benefit of man
            kind is emerging, paving way for conceptual, comparative and comprehensive studies and research with
            applied potential. The approach is new and scope is unlimited. It is high time to concentrate on
            exploring the microbial world, visualizing new techniques, switching to medicinal herbs, modeling
            (mathematical) for the solution of societal problems, spreading the knowledge by fastest mode of
            communication and so on. Hence, the very idea of the foundation of the Institute of Applied Sciences was
            mooted with a view to provide research, publication and communication opportunities to the young
            scientists working in the area of interdisciplinary science having applied value.
        </p>
        <p>
            And, finally the Institute of Applied Sciences came into existence on November 14, 2001 with the
            following objectives-
        </p>
        <ul>
            <li>
                The cultivation and promotion of APPLIED SCIENCES in all its branches;
            </li>
            <li>
                To organize meetings and hold discussions on scientific and technological problems;
            </li>
            <li>
                To publish such proceedings, journals, memoirs, transactions and other works as may be considered
                desirable;
            </li>
            <li>
                To publish such proceedings, journals, memoirs, transactions and other works as may be considered
                desirable;
            </li>
            <li>
                To undertake research work concerned with Applied Sciences
            </li>
            <li>
                To undertake, through properly constituted committees and bodies, such applied scientific work of
                technological or public importance as it may be called upon to perform.
            </li>
        </ul>
        <p>
            In 2002 the Institute was registered under the society act of 1860.
        </p>
        <p>
            In the past 20 years, the Institute has taken long strides; and achieved several milestones, especially
            in linking Science with the Society.
        </p>
    </div>
    <app-our-branches></app-our-branches>
</div>
<app-join-us-form></app-join-us-form>
<app-footer></app-footer>