* {
    margin: 0;
    padding: 0;
    color: #3c3554;
    outline: none;
}

#wrapper {
    width: 90%;
    margin: 2.5em auto;
}

h2 {
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
}

#logo {
    display: block;
    margin: 1em auto;
    width: 40%;
    max-width: 300px;
}

#iasc {
    text-align: center;
    font-family: serif;
}

#iasc h3 {
    font-size: 2rem;
}

#iasc p {
    font-size: 1.5rem;
}

#information {
    display: flex;
    margin: 2em auto;
    font-size: 1.5rem;
    width: 100%;
}

#phone-email, #addresses {
    width: 50%;
    padding: 1em;
}

#phone-email {
    border-right: 5px solid #3c3554;
}

#phone, #email, #addresses {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#addresses div {
    width: 80%;
}

.bold {
    font-weight: 500;
}

#text-wrapper {
    font-size: 1.25rem;
    border:5px solid #5b5080;
    padding: 1em;
    border-radius:20px;
}

#text-wrapper p {
    margin: 1em 0;
}

#text-wrapper ul {
    margin: 1em;
}

ul {
    list-style-position: inside;
}


@media(max-width:950px) {
    #information {
        flex-direction: column;
        align-items: center;
    }

    #phone-email, #addresses {
        width: 100%; 
    }

    #phone-email {
        border: none;
        border-bottom: 5px solid #3c3554;
    }
}

@media(max-width:560px) {
    h2 {
        font-size: 1.6rem;
    }

    #iasc h3 {
        font-size: 1.5rem;
    }

    #iasc p {
        font-size: 1rem;
    }

    #information, #text-wrapper p, ul {
        font-size: 1rem;
    }
}