<header class="header">
    <div class="headerFirst">
        <img src="assets/iasc-logo.png" style="width:7%;height: auto;" alt="Logo">
        <div class="name-box" >            
        <h2 style="text-transform:uppercase; font-family: 'Exo 2', sans-serif;">The Institute Of Applied Science,Prayagraj</h2>
        <p><span>&#169;</span>Established 2001 (Registered under the Society Act of 1860)</p>
        </div>
        <div class="right-content" >
            <!-- <a href="" uk-icon="icon: receiver"></a> -->
            <div class="contact-box" style="display: flex;">
            <a class="icon-iasc" style="top: 80%; position: relative; transform: translateY(-50%)" href="" uk-icon="icon: receiver"></a>
            <p>09415309681<br>09452163248</p>
            </div>
        <!-- <a href="" uk-icon="icon: heart"></a> -->
        <div class="address" style="display: flex;">
            <a class="icon-iasc " style="top: 80%; position: relative; transform: translateY(-50%)" href="" uk-icon="icon: heart"></a><p>644/508, Mumfordganj , Prayagraj,<br>
        211002 Uttar Pradesh.</p></div>
    </div></div>
    <div class="headerSecond">
        <ul>
        <li><a href="">HOME</a></li>
        <li><a href="./symposium-and-activities">ACTIVITIES</a></li>
        <li><a href="./gcpage">G.C.</a></li>
        <li><a href="./about-us">ABOUT US</a></li>
        <li><a href="./research">RESEARCH</a></li>
        <li><a href="./fellowship-form">FELLOWSHIP</a></li>
        <li><a href="./gallery">GALLERY</a></li>
        <li><a href="./collaboration">COLLABORATIONS</a></li>
        <li><a href="./practicing-center">PRACTICING CENTRE</a></li>
        
    </ul> 
</div>

<!-- Mobile View -->
<div class="mobile-view">
    <div class="logo"><img src="assets/iasc-logo.png"  alt="Logo">
        <button style="float: right;margin-top:20px;" class="  uk-button-default .uk-flex-left uk-margin-large-left" type="button" uk-toggle="target: #offcanvas-nav-primary">
            <span class="icon-iasc" uk-icon="icon: table"></span>
        </button>
        <div id="offcanvas-nav-primary" uk-offcanvas="overlay: true; flip: true">
            <div class="uk-offcanvas-bar uk-flex uk-flex-column" style="background-color: #3C3554;">
                <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
                    <li class="uk-active"><a href="#">Home</a></li>
                    <li class="uk-active"><a href="#">Activites</a></li>
                    <li class="uk-active"><a href="#">Researches</a></li>
                    <li class="uk-active"><a href="#">Fellowship</a></li>
                    <li class="uk-active"><a href="#">Gallery</a></li>
                    <li class="uk-active"><a href="#">Collaborations</a></li>
                    <li class="uk-active"><a href="#">Researches</a></li>
                    <li class="uk-parent">
                        <a href="#">G.C.</a>
                        <ul class="uk-nav-sub">
                            <li><a href="#">Sub item</a></li>
                            <li><a href="#">Sub item</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</header>
