<br>
<h1 style="text-align: center">Governing Commitee</h1>
<br>
<h3 id="underline">EXECUTIVE BODY</h3>
<br>
<br>
<div class="uk-grid">
  <app-author-card class="uk-width-1-1 uk-width-1-2@s uk-width-1-5@l"
      aboutAuthor="President MBBS, MD, FIASc"
      authorImage="assets/gc.jpg"
      authorName="Dr B.P Agarwal"
  ></app-author-card>
  <app-author-card class="uk-width-1-1 uk-width-1-2@s uk-width-1-5@l"
      aboutAuthor="Vice President D. Phil., FIASc, FAIR"
      authorImage="assets/gc.jpg"
      authorName="Dr K.P singh"
  ></app-author-card>
  <app-author-card class="uk-width-1-1 uk-width-1-2@s uk-width-1-5@l"
      aboutAuthor="Secreatory D. Phil., FIASc, FSLSc,Founder Fellow & Hony. Scientist bioethics Expert(GEObs) - UNESCO"
      authorImage="assets/gc.jpg"
      authorName="Dr Neeraj Kumar"
  ></app-author-card>
  <app-author-card class="uk-width-1-1 uk-width-1-2@s uk-width-1-5@l"
      aboutAuthor="Tresaurer D. Phil., FIASc, FBS, FSLSc"
      authorImage="assets/gc.jpg"
      authorName="Prof. D.K Chauhan"
  ></app-author-card>
  <app-author-card class="uk-width-1-1 uk-width-1-2@s uk-width-1-5@l"
  aboutAuthor="Executive Secratary D.Phil., FIASc"
  authorImage="assets/gc.jpg"
  authorName="Dr Mohd Masood"></app-author-card>
  </div>
<div class="uk-grid">
  <app-author-card class="uk-width-1-1 uk-width-1-2@s uk-width-1-4@l"
 aboutAuthor="Hony. Adivsor Lorem ipsum dolor sit amet,consectetur adipiscing elit.Curabitur cursus tincidunt commodo. Nunc justo nisi,vestibulum facilisis porta vestibulum, ultrices volutpat arcu. Quisque nec dui mattis, fringilla magna in, vulputate enim. Fusce ut euismod ligula, id laoreet ex."
 authorImage="assets/gc.jpg"
 authorName="Dr S.A.M Meesam"></app-author-card>
 <app-author-card class="uk-width-1-1 uk-width-1-2@s uk-width-1-4@l"
 aboutAuthor="Officer Incharge Ph. D., FIASc"
 authorImage="assets/gc.jpg"
 authorName="Dr Anees F. Rizvi"></app-author-card>
 <app-author-card class="uk-width-1-1 uk-width-1-2@s uk-width-1-4@l"
 aboutAuthor="Hony. Adivsor"
 authorImage="assets/gc.jpg"
 authorName="Dr Sangeeta Agarwal"></app-author-card>
 <app-author-card class="uk-width-1-1 uk-width-1-2@s uk-width-1-4@l"
 aboutAuthor="Hony. Adivsor"
 authorImage="assets/gc.jpg"
 authorName="Smt Alka Singh"></app-author-card>
</div>
<br>
<br>




<!-- <div class="uk-flex" id="main">
  <div class="uk-card uk-margin-left" style="background-color: transparent">
    <div style="position:absolute;padding-left:20px;">
        <img id="pic" src="assets/gc.jpg"/>
    </div>
    <div id="box">
      <p style="text-align: center;font-size: large;">Dr B.P Agarwal</p>
      <p style="text-align: center;">President</p>
      <p style="text-align: center;font-size:smaller;">MBBS, MD, FIASc</p>
    </div>
  </div>
    <div class="uk-card uk-margin-left" style="background-color: transparent">
      <div style="position:absolute;padding-left:20px;">
        <img id="pic" src="assets/gc.jpg"/>
      </div>
      <div id="box">
        <p style="text-align: center;font-size: large;">Dr K.P singh</p>
        <p style="text-align: center;">Vice President</p>
        <p style="text-align: center;font-size:smaller;">D. Phil., FIASc, FAIR</p>
      </div>
    </div>
        <div class="uk-card uk-margin-left" style="background-color: transparent">
          <div style="position:absolute;padding-left:20px;">
            <img id="pic" src="assets/gc.jpg"/>

          </div>
          <div id="box">
            <p style="text-align: center;font-size: large;">Dr Neeraj Kumar</p>
            <p style="text-align: center;">Secratary</p>
            <p style="text-align: center;font-size:smaller;">D. Phil., FIASc, FSLSc,
                Founder Fellow & Hony. Scientist
                bioethics Expert(GEObs) -
                UNESCO</p>
          </div>
        </div>
            <div class="uk-card uk-margin-left" style="background-color: transparent">
              <div style="position:absolute;padding-left:20px;">
                <img id="pic" src="assets/gc.jpg"/>

              </div>
              <div id="box">
                <p style="text-align: center;font-size: large;">Prof. D.K Chauhan</p>
                <p style="text-align: center;">Tresaurer</p>
                <p style="text-align: center;font-size:smaller;">D. Phil., FIASc, FBS, FSLSc</p>
              </div>
            </div>
</div>
<br>
<br>

<div class="uk-flex" id="main1">
    <div class="uk-card uk-margin-left" style="background-color: transparent">
      <div style="position:absolute;padding-left:20px;">
        <img id="pic" src="assets/gc.jpg"/>

      </div>
      <div id="box">
        <p style="text-align: center;font-size: large;">Dr Mohd Masood</p>
        <p style="text-align: center;">Executive Secratary</p>
        <p style="text-align: center;font-size:smaller;">D.Phil., FIASc</p>
      </div>
    </div>
        <div class="uk-card uk-margin-left" style="background-color: transparent">
          <div style="position:absolute;padding-left:20px;">
            <img id="pic" src="assets/gc.jpg"/>

          </div>
          <div id="box">
            <p style="text-align: center;font-size: large;">Dr S.A.M Meesam</p>
            <p style="text-align: center;">Hony. Adivsor</p>
            <p style="text-align: center;font-size:smaller;">Lorem ipsum dolor sit amet,
                consectetur adipiscing elit.
                Curabitur cursus tincidunt
                commodo. Nunc justo nisi,
                vestibulum facilisis porta
                vestibulum, ultrices volutpat
                arcu. Quisque nec dui mattis,
                fringilla magna in, vulputate
                enim. Fusce ut euismod ligula,
                id laoreet ex.</p>
          </div>
        </div>
            <div class="uk-card uk-margin-left" style="background-color: transparent">
              <div style="position:absolute;padding-left:20px;">
                <img id="pic" src="assets/gc.jpg"/>

              </div>
              <div id="box">
                <p style="text-align: center;font-size: large;">Dr Anees F. Rizvi</p>
                <p style="text-align: center;">Officer Incharge</p>
                <p style="text-align: center;font-size:smaller;">(Ph. D., FIASc)
                    Officer In-Charge</p>
              </div>
            </div>
</div>
<br>
<br>

<div class="uk-flex" id="main2">
    <div class="uk-card uk-margin-left" style="background-color: transparent">
      <div style="position:absolute;padding-left:20px;">
        <img id="pic" src="assets/gc.jpg"/>

      </div>
      <div id="box">
        <p style="text-align: center;font-size: large;">Dr Sangeeta Agarwal</p>
        <p style="text-align: center;">Hony. Adivsor</p> 
      </div>
    </div>
        <div class="uk-card uk-margin-left" style="background-color: transparent">
          <div style="position:absolute;padding-left:20px;">
            <img id="pic" src="assets/gc.jpg"/>

          </div>
          <div id="box">
            <p style="text-align: center;font-size: large;">Smt Alka Singh</p>
            <p style="text-align: center;">Hony. Adivsor</p>
          </div>
        </div>
</div>
<br>
<br>
<br>
<h2 id="underline" style="text-align: center">Scientific Advisors</h2>
<div class="uk-flex" style="margin:1rem 5vw 1rem 5vw;display:flex;align-items:center;width:80vw;">
  <div class="uk-card uk-margin-left" style="background-color: transparent">
    <ul style="list-style: none">
      <li><h2>Prof. S. L. Srivastava</h2></li>
      <li><h2>Prof. H. R. Singh</h2></li>
      <li><h2>Prof. K. Swaroop</h2></li>
      <li><h2>Prof. G. K. Srivastava</h2></li>
      <li><h2>Prof. U. C. Srivastava</h2></li>
      <li><h2>Prof. R.R.Yadav</h2></li>
      <li><h2>Dr. K.K.Agrawal</h2></li>
      <li><h2>Dr.Manvendra Tripathi</h2></li>
    </ul>
  </div>
  <div class="uk-card uk-margin-left" id="list">
    <ul style="list-style: none">
      <li><h2>Prof. S. L. Srivastava</h2></li>
      <li><h2>Prof. Mandavi Singh</h2></li>
      <li><h2>Prof. H. C. Verma</h2></li>
      <li><h2>Prof. R. N. Seth</h2></li>
      <li><h2>Prof. U. P. Singh</h2></li>
      <li><h2>Dr. V.C. Srivastava</h2></li>
      <li><h2>Dr. Sharda Sundaram</h2></li>
      <li><h2>Dr.Abhay Pandey</h2></li>
    </ul>
  </div>
</div>
<br>
<br> -->