<app-header></app-header>
<h2>Study of the Status of Health of the Kols of Shankargarh Area, Allahabad</h2>
<div id="wrapper">
    <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" alt="">
    <div id="text-wrapper">
        <h3>Introduction</h3>
        <p>The Shankargarh block of Allahabad district of Uttar Pradesh, India, is well known for its high
            quality silica sand, and large scale surface mining is being done here. Most of the mining workers belong to a
            forest-dwelling community- Kol. Although, their life was never easy, they were fulfilling their needs by
            selling forest produces. As forest was occupied by mines, Kols became unsheltered and resourceless. They
            started working as silica sand mining labours to earn their livelihood. These men are mostly underpaid,
            extremely poor and homeless. They are deprived by all basic amenities and services and are struggling for
            their survival by more than seventy years. </p>
        <h3>Data Collection</h3>
        <p>Socio-economic data collected by researchers of the Institute during the Phd work in and around Allahabad (for Sub-urban & rural population). revealed
            that majority of population are illiterate and agriculture based or of labour class having poor health, and living below poverty level.</p>
        <h3>Socio-economic State of the KoIs</h3>
        <p>Historically Kol was a forest-dwelling community, having their own tradition, rights and rituals. Forest was
            their home, and was able to provide all the means of their livelihood. Employment and land was never their
            concern as the whole forest and its produces were of them. But about seven decades ago, when mining
            operations started in the region, they became destitute and homeless. They started working as bonded labourers
            in stone quarries. Given that stone is a crop that can be harvested throughout the year-barring days of heavy
            rainfall- whole families engage in breaking silica rocks for livelihood and consequently breathing silica dust.</p>
        <p>Kols are in initial phase of social development. Their struggle to make them fit to survive in contemporary
            social settings is going on. They are deprived in all means. Literacy level is very poor. Most of them are
            homeless and landless. Large number of Kol population have short life span as they die due to Tuberculosis due
            to inhaling silica. After many laudable efforts by SHGs and NGOs to bring them in mainstream, development is
            still awaited in their lives. The gap between them and the rest of the social groups is large and becoming larger
            every day.</p>
        <p>To measure the real socio-economic state of Kols, and that expanding gap between them and rest of the world,
            the study proposes a 5S model. This model is based on 5 basic services- Home, Land, Health, Education and
            Employment . The balance between these basic elements determines the social sustainability and assures
            holistic development of any society.</p>
    </div>
    <div id="table-wrapper">
        <table>
            <caption><span class="bold">Table 1.</span><span class="italics"> Queried Information Regarding Five Basic Services</span></caption>
            <tr>
                <th>Health Service</th>
                <th>Education</th>
                <th>Employment</th>
                <th>Home</th>
                <th>Land</th>
            </tr>
            <tr>
                <td>Government Health Facility Availed</td>
                <td>Literate</td>
                <td>Employed</td>
                <td>Permanent Home</td>
                <td>Own Land</td>
            </tr>
            <tr>
                <td>Potable Water Available</td>
                <td>Education up to High School</td>
                <td>Employed as labourers</td>
                <td>Pucca home</td>
                <td>Cultivable Land</td>
            </tr>
            <tr>
                <td>Suffering from Chronic Disease</td>
                <td>Graduate</td>
                <td>Underpaid labourers (Below MGNREGA Rates)</td>
                <td>Home with more than one room</td>
                <td>Cultivable Land on Lease</td>
            </tr>
            <tr>
                <td>Aware about Family Planning</td>
                <td>Passed Professional Degree</td>
                <td>Own Business</td>
                <td>Home with Toilet Facility</td>
                <td>Mining Land on Lease</td>
            </tr>
        </table>
    </div>
</div>
<app-footer></app-footer>