<div class="right-box uk-card uk-card-hover uk-card-default uk-card-body">
    <img src="assets/download.jpg" alt="image">
      <div class="right-content ">
          <h2>{{cardTitle}}</h2>
          <p style="font-size:small">{{cardBodyhai}}</p>
          <div class="uk-card-badge uk-label" style="color:white ;position:absolute;transform:translateX(5vw); padding: 0 8px;">{{location}}</div>
          <div class="uk-card-badge  uk-label" style="color:white ; padding: 0 8px; transform:translateX(5vw); bottom:2px; top: inherit;">Managed By:<br>{{manager}}</div>
      </div>
  </div>
