<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><app-header></app-header>
    <br>
    <h2>MEDITATION</h2>
    <div class="upper-box">
        <img src="assets/meditation.jpg" alt="">
    </div>
    <div class="upper-box1">
        <h3>Nutrition a major part of a living being</h3><br>
        <p>Nutrition, more specifically nutritional science, is the science that studies the physiological process of 
            nutrition, interpreting the nutrients and other substances in food in relation to maintenance, growth, 
            reproduction, health and disease of an organism.[1]<br><br>The diet of an organism is what it eats, which is largely determined by the availability and palatability of 
            foods. For humans, a healthy diet includes preparation of food and storage methods that preserve 
            nutrients from oxidation, heat or leaching, and that reduces risk of foodborne illnesses. The seven major 
            classes of human nutrients are carbohydrates, fats, fiber, minerals, proteins, vitamins, and water. 
            Nutrients can be grouped as either macronutrients or micronutrients (needed in small quantities). <br><br>In humans, an unhealthy diet can cause deficiency-related diseases such as blindness, anemia, scurvy, 
            preterm birth, stillbirth and cretinism,[2] or nutrient excess health-threatening conditions such as 
            obesity[3][4] and metabolic syndrome;[5] and such common chronic systemic diseases as cardiovascular 
            disease,[6] diabetes,[7][8] and osteoporosis.[9][10][11] Undernutrition can lead to wasting in acute cases, 
            and the stunting of marasmus in chronic cases of malnutrition.[2]
        </p><br><h3>Steps to perform</h3>
    </div>
    <br>
    <div class="stepper">
        <mat-vertical-stepper>
            <mat-step> <p class="uk-card uk-card-hover uk-card-default uk-card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, iste iusto quas eligendi corporis id eius corrupti temporibus velit? Molestias harum voluptatibus veritatis explicabo ut velit deserunt, saepe sit commodi?<span><button matStepperNext type="button">Next Step</button></span></p> </mat-step>
            <mat-step> <p class="uk-card uk-card-hover uk-card-default uk-card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, iste iusto quas eligendi corporis id eius corrupti temporibus velit? Molestias harum voluptatibus veritatis explicabo ut velit deserunt, saepe sit commodi?<span><button matStepperPrevious type="button">Previous Step</button><button matStepperNext type="button">Next Step</button></span></p> </mat-step>
            <mat-step> <p class="uk-card uk-card-hover uk-card-default uk-card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, iste iusto quas eligendi corporis id eius corrupti temporibus velit? Molestias harum voluptatibus veritatis explicabo ut velit deserunt, saepe sit commodi?<span><button matStepperPrevious type="button">Previous Step</button><button matStepperNext type="button">Next Step</button></span></p> </mat-step>
            <mat-step> <p class="uk-card uk-card-hover uk-card-default uk-card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, iste iusto quas eligendi corporis id eius corrupti temporibus velit? Molestias harum voluptatibus veritatis explicabo ut velit deserunt, saepe sit commodi?<span><button matStepperPrevious type="button">Previous Step</button><button matStepperNext type="button">Next Step</button></span></p> </mat-step>
            <mat-step> <p class="uk-card uk-card-hover uk-card-default uk-card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, iste iusto quas eligendi corporis id eius corrupti temporibus velit? Molestias harum voluptatibus veritatis explicabo ut velit deserunt, saepe sit commodi?<span><button matStepperPrevious type="button">Previous Step</button></span></p> </mat-step>            
        </mat-vertical-stepper></div>
      <app-footer></app-footer>
</body>
</html>
