<app-header></app-header>
<h2>Our Researches</h2>
<div id="wrapper">
    <h3>Research Updates</h3>
    <h4>List of projects executed/ongoing by the IASc. in the last {{years}} years.</h4>
    <div class="table-wrapper">
        <table id="updates">
            <tr>
                <th>S. No.</th>
                <th>Title of the Project</th>
                <th>Duration</th>
                <th>Project Cost</th>
                <th>Funding Agency</th>
                <th>Coordinators</th>
            </tr>
            <tr>
                <td>1.</td>
                <td><a href="#">Study of the status of health of the Kols of Shankargarh area, Allahabad</a></td>
                <td>2001-06</td>
                <td>2.5 lacs</td>
                <td>The Institute of Applied Sciences</td>
                <td>
                    <ol>
                        <li>Vartika</li>
                        <li>Dr. Niraj Kumar</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>2.</td>
                <td><a href="#">Study of some of the medicinal plants used by the Kols for the treatment of
                        diabetes.</a></td>
                <td>2002-07</td>
                <td>3 lacs</td>
                <td>The Institute of Applied Sciences</td>
                <td>
                    <ol>
                        <li>Prasanna K. Ghosh</li>
                        <li>Dr. Niraj Kumar</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>3.</td>
                <td><a href="#">Awareness campaign for eco-friendly water conservation and purification among the
                        rural folks around
                        Allahabad</a></td>
                <td>2007-09</td>
                <td>17 lacs</td>
                <td>RVPSP. DST, Govt.of India</td>
                <td>
                    <ol>
                        <li>Dr Anees F Rizvi</li>
                        <li>Dr. K. P. Singh</li>
                        <li>Dr. Niraj Kumar</li>
                        <li>Dr. R. R. Yadav</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>4.</td>
                <td><a href="#">A Bypass desert cooler for prevention of mosquitogenic condition-An experimental
                        study.</a></td>
                <td>2009-10</td>
                <td>1.77 lacs</td>
                <td>The National Academy of Sciences, India Allahabad (NASI)</td>
                <td>
                    <ol>
                        <li>Dr Manvendra Tripathi</li>
                        <li>Dr Anees F Rizvi (Project Officer)</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>5.</td>
                <td><a href="#">Statistical survey of plant diversity of Shankargarh area for its eco-friendly
                        utilization as fodder
                        and fuel.</a></td>
                <td>2009 - 11</td>
                <td>7.6 lacs</td>
                <td>Science & Society Div. DST, Govt. of India</td>
                <td>
                    <ol>
                        <li>Archana Pant</li>
                        <li>Prof. D. K. Chauhan</li>
                        <li>Dr. Niraj Kumar</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>6.</td>
                <td><a href="#">Rural women employment generation through eco-friendly commercialization of
                        non-commercial fishes
                        around Allahabad.</a></td>
                <td>2009-12</td>
                <td>12.65 lacs</td>
                <td>Science & Society Div., DST, Govt. of India</td>
                <td>
                    <ol>
                        <li>Dr A F Rizvi</li>
                        <li>Dr. K. P. Singh</li>
                        <li>Dr. Niraj Kumar</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>7.</td>
                <td><a href="#">Establishment of water clinic to ensure the quality of safe drinking water for the
                        rural and
                        sub-urban population of Allahabad.</a></td>
                <td>2011- 13</td>
                <td>10 lacs</td>
                <td>RVPSR/DST Govt. of India</td>
                <td>
                    <ol>
                        <li>Dr. B. P. Agrawal</li>
                        <li>Dr. Ayesha Mariya (Project Scientist)</li>
                        <li>Dr. K. P. Singh</li>
                        <li>Dr. M. Masood</li>
                        <li>Dr. Niraj Kumar</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>8.</td>
                <td><a href="#">A scientific approach in developing strategies for promoting innovative methods of
                        science teaching
                        amongst school teachers.</a></td>
                <td>2011-12</td>
                <td>2.29 lacs</td>
                <td>Rajat Jayanti Vigyan Sancharak Fellowship , DST, New Delhi, RVPSR /DST, Govt. of India</td>
                <td>
                    <ol>
                        <li>Fatmatuz Zohra</li>
                        <li>Dr. Niraj Kumar (Mentor)</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>9.</td>
                <td><a href="#">Herbal formulation for mitigation of Anaemia prevailing among school girls.</a></td>
                <td>2014-15</td>
                <td>5 lacs</td>
                <td>DST, New Delhi</td>
                <td>Dr. Babita Gupta</td>
            </tr>
            <tr>
                <td>10.</td>
                <td><a href="#">Health promotion in 10+2 students of the schools of rural and urban population.</a>
                </td>
                <td>2014-15</td>
                <td>4 lacs</td>
                <td>DST, New Delhi</td>
                <td>Ms. Pooja Singh</td>
            </tr>
            <tr>
                <td>11.</td>
                <td><a href="#">Impact of global warming (temperature increase) on river biome In special contest of
                        the river
                        gangas in Allahabad region of UP, India and suggestive blo remedial measure./ NASI Gangs
                        Research
                        Scholar (RA-I)</a></td>
                <td>From 2014</td>
                <td>10.5 lacs</td>
                <td>National Academy of Sciences, India, Allahabad</td>
                <td>
                    <ol>
                        <li>Dr. Ashutosh Tripathi (PI)</li>
                        <li>Prof. D. K. Chauhan (Mentor)</li>
                        <li>Dr. Niraj Kumar (Mentor)</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>12.</td>
                <td><a href="#">Project entitled "Creation of employment opportunities for the rural youth and
                        farmers through sustainable utilization of moringa leaves for its cultivation, value
                        addition and product development" (RegistrationNumber BT/PR1247 7/SPD/24/736/2014</a></td>
                <td>From 2016</td>
                <td>25 lacs</td>
                <td>Department of Biotechnology, Ministry of Science & Technology Government of India</td>
                <td>
                    <ol>
                        <li>Dr. Anees F Rizvi</li>
                        <li>Prof. D. K. Chauhan</li>
                        <li>Dr. Vinita Puranik</li>
                    </ol>
                </td>
            </tr>
        </table>
    </div>
    <app-our-branches></app-our-branches>
</div>
<app-footer></app-footer>