<br>
<div id="mainGenesisCard" class="uk-card uk-card-body uk-align-center">
    <div class="uk-card-title " style="font-size:xx-large;text-align:center;color:rgb(16, 16, 70);"><b>Our Genesis</b>
    </div>
    <div uk-grid>
        <div class="featuredImage uk-width-1-2@l uk-width-1-2@xl uk-width-1-1@s">
            <img src="assets/Health-Genesis-Header.jpg" class="genesisImage">
        </div>
        <div id="genesisOpenSmallButton">
            <button class="uk-align-center" style="border: none;padding:10px 10px;background-color: #3C3554;border-radius: 50px;" (click)="toggleViewMobile()">
                <i class="fi fi-arrow-down" style="color:white"></i>
            </button>
        </div>
        <div class="uk-width-1-2@l uk-width-1-2@xl uk-width-1-1@s genesisText">
            <h6 style="font-size:medium;color: rgb(4, 4, 39);">With many advancements in science and technology and fast
                growing communication means the compartmentalization has become redundant and the world with sharing
                attitude for the benefit of man kind is emerging, paving way for conceptual,comparative and
                comprehensive studies and research with applied potential. The approach is new and scope is unlimited.
                It is high time to concentrate on exploring the microbial world,visualizing new techniques, switching to
                medicinal herbs,modeling (mathematical) for the solution of societal problems,spreading the knowledge by
                fastest mode of communication and so on. Hence, the very idea of the foundation of the Institute of
                Applied Sciences was mooted with a view to provide research,</h6>
        </div>
    </div>
    <div id="genesisOpenButton">
        <button class="uk-align-center" style="border: none;padding:10px 10px;background-color: #3C3554;border-radius: 50px;" (click)="toggleView()">
            <i class="fi fi-arrow-down" style="color:white"></i>
        </button>
    </div>
    <spacer></spacer>
    <div class="hiddenContent">
        <p style="font-size:medium;color: rgb(4, 4, 39);">With many advancements in science and technology and fast
            growing communication means the compartmentalization has become redundant and the world with sharing
            attitude for the benefit of man kind is emerging, paving way for conceptual,comparative and
            comprehensive studies and research with applied potential. The approach is new and scope is unlimited.
            It is high time to concentrate on exploring the microbial world,visualizing new techniques, switching to
            medicinal herbs,modeling (mathematical) for the solution of societal problems,spreading the knowledge by
            fastest mode of communication and so on. Hence, the very idea of the foundation of the Institute of
            Applied Sciences was mooted with a view to provide research,</p>
            <article class="uk-article">

                <h1 class="uk-article-title"><a class="uk-link-reset" href="">Heading</a></h1>
            
                <p class="uk-article-meta">Written by <a href="#">Super User</a> on 12 April 2012. Posted in <a href="#">Blog</a></p>
            
                <p class="uk-text-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
            
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            
                <div class="uk-grid-small uk-child-width-auto" uk-grid>
                    <div>
                        <a class="uk-button uk-button-text" href="#">Read more</a>
                    </div>
                    <div>
                        <a class="uk-button uk-button-text" href="#">5 Comments</a>
                    </div>
                </div>
            
            </article>
        <spacer></spacer>
        <div class="uk-grid ">
            <app-author-card class="uk-width-1-1 uk-width-1-2@s uk-width-1-5@l"
                aboutAuthor="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus tincidunt commodo."
                authorImage="assets\postData\post (2).jpg"
                authorName="Random Name"
            ></app-author-card>
            <app-author-card class="uk-width-1-1 uk-width-1-2@s uk-width-1-5@l"
                aboutAuthor="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus tincidunt commodo."
                authorImage="assets\postData\post (2).jpg"
                authorName="Random Name"
            ></app-author-card>
            <app-author-card class="uk-width-1-1 uk-width-1-2@s uk-width-1-5@l"
                aboutAuthor="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus tincidunt commodo."
                authorImage="assets\postData\post (2).jpg"
                authorName="Random Name"
            ></app-author-card>
            <app-author-card class="uk-width-1-1 uk-width-1-2@s uk-width-1-5@l" 
                aboutAuthor="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus tincidunt commodo."
                authorImage="assets\postData\post (2).jpg"
                authorName="Random Name"
            ></app-author-card>
            <app-author-card class="uk-width-1-1 uk-width-1-2@s uk-width-1-5@l" 
                aboutAuthor="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus tincidunt commodo."
                authorImage="assets\postData\post (2).jpg"
                authorName="Random Name"
            ></app-author-card>
        </div>
    </div>
</div>
<br>
<br>
<button id="b1" class="uk-button uk-button-default uk-align-center">More Info</button>


