<div class="form uk-align-center uk-card-default uk-card-hover" style="border:5px solid #5b5080;padding:20px 20px;border-radius:20px;">
    <form>
        <fieldset class="uk-fieldset">
            <legend class="uk-legend">Subscribe To Us</legend>
            <div class="uk-margin">
                <input class="uk-input" id="name" type="text" placeholder="Full Name">
            </div>
            <div class="uk-margin">
                <input class="uk-input" id="email" type="email" placeholder="Email">
            </div>
            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                <label><input class="uk-checkbox" type="checkbox" checked> Subscribe for optional services</label>
            </div>
            <div class="uk-margin">
                <button class="uk-button liftUp uk-align-center">
                    Subscribe
                </button>
            </div>
        </fieldset>
    </form>
</div>