<h3>Our Branches</h3>
<div>
    <a href="../health-researches"><img src="../../assets/Health.png" alt="Health"></a>
    <a href="../health-product"><img src="../../assets/Healthy-Products.png" alt="Healthy-Products"></a>
    <a href="../nutrition-researches"><img src="../../assets/Nutrition.png" alt="Nutrition"></a>
    <a href="../water-researches"><img src="../../assets/Water.png" alt="Water"></a>
    <a href="../scientific-awareness"><img src="../../assets/science-awareness.png" alt="Science Awarness"></a>
</div>