<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <app-header></app-header><br />
    <div class="first-box">
      <div>
        <h2>PRACTICING</h2>
        <h1>CENTRE<img src="./assets/magic-wand (1).png" /></h1>
        <p>
          consultancy and non pharmaceutical centre for yoga, nutritional care,
          health care and meditation practicing
        </p>
      </div>
      <div class="a">
        <img src="assets/Nutrition.png" alt="" />
      </div>
    </div>
    <br /><br />
    <div class="main-box">
      <div
        class="wrapper-box"
        style="
          height: 30vh;
          background-image: linear-gradient(
              rgba(74, 71, 122, 0.5),
              rgba(74, 71, 122, 0.5)
            ),
            url(/assets/dan-gold.jpg);
          background-size: cover;
        "
      >
        <!-- <img src="assets/dan-gold.jpg" alt=""> -->
        <div class="text"><p>Nutrition</p></div>
      </div>
      <div
        class="wrapper-box"
        style="
          height: 30vh;
          background-image: linear-gradient(
              rgba(74, 71, 122, 0.5),
              rgba(74, 71, 122, 0.5)
            ),
            url(/assets/yoga.jpg);
          background-size: contain;
        "
      >
        <!-- <img src="assets/dan-gold.jpg" alt=""> -->
        <div class="text"><p>Yoga</p></div>
      </div>
      <div
        class="wrapper-box"
        style="
          height: 30vh;
          background-image: linear-gradient(
              rgba(74, 71, 122, 0.5),
              rgba(74, 71, 122, 0.5)
            ),
            url(/assets/health.jpg);
          background-size: cover;
        "
      >
        <!-- <img src="assets/dan-gold.jpg" alt=""> -->
        <div class="text"><p>Health</p></div>
      </div>
      <div
        class="wrapper-box"
        style="
          height: 30vh;
          background-image: linear-gradient(
              rgba(74, 71, 122, 0.5),
              rgba(74, 71, 122, 0.5)
            ),
            url(/assets/meditation.jpg);
          background-size: cover;
        "
      >
        <!-- <img src="assets/dan-gold.jpg" alt=""> -->
        <div class="text"><p>Meditation</p></div>
      </div>
    </div>

    <div class="main-box1">
      <h2>What does it do</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
        cursus tincidunt commodo. Nunc justo nisi, vestibulum facilisis porta
        vestibulum, ultrices volutpat arcu. Quisque nec dui mattis, fringilla
        magna in, vulputate enim. Fusce ut euismod ligula, id laoreet ex. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus
        tincidunt commodo. Nunc justo nisi, vestibulum facilisis porta
        vestibulum, ultrices volutpat arcu. Quisque nec dui mattis, fringilla
        magna in, vulputate enim. Fusce ut euismod ligula, id laoreet ex. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus
        tincidunt commodo. Nunc justo nisi, vestibulum facilisis porta
        vestibulum, ultrices volutpat arcu. Quisque nec dui mattis, fringilla
        magna in, vulputate enim. Fusce ut euismod ligula, id laoreet ex. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus
        tincidunt commodo. Nunc justo nisi, vestibulum facilisis porta
        vestibulum, ultrices volutpat arcu. Quisque nec dui mattis, fringilla
        magna in, vulputate enim. Fusce ut euismod ligula, id laoreet ex. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus
        tincidunt commodo. Nunc justo nisi, vestibulum facilisis porta
        vestibulum, ultrices volutpat arcu. Quisque nec dui mattis, fringilla
        magna in, vulputate enim. Fusce ut euismod ligula, id laoreet ex. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus
        tincidunt commodo. Nunc justo nisi, vestibulum facilisis porta
        vestibulum, ultrices volutpat arcu. Quisque nec dui mattis, fringilla
        magna in, vulputate enim. Fusce ut euismod ligula, id laoreet ex. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus
        tincidunt commodo. Nunc justo nisi, vestibulum facilisis porta
        vestibulum, ultrices volutpat arcu. Quisque nec dui mattis, fringilla
        magna in, vulputate enim. Fusce ut euismod ligula, id laoreet ex. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus
        tincidunt commodo. Nunc justo nisi, vestibulum facilisis porta
        vestibulum, ultrices volutpat arcu. Quisque nec dui mattis, fringilla
        magna in, vulputate enim. Fusce ut euismod ligula, id laoreet ex. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus
        tincidunt commodo. Nunc justo n
      </p>
      <h2>FAQ</h2>

      <ul uk-accordion="collapsible: false">
        <li class="items1">
          <a href="javascript.void(0)" class="uk-accordion-title"
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            cursus tincidunt commodo ?</a
          >
          <div class="uk-accordion-content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </li>
        <li class="items1">
          <a href="javascript.void(0)" class="uk-accordion-title"
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            cursus tincidunt commodo ?</a
          >
          <div class="uk-accordion-content">
            <p>
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
              reprehenderit.
            </p>
          </div>
        </li>
        <li class="items1">
          <a href="javascript.void(0)" class="uk-accordion-title"
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            cursus tincidunt commodo ?</a
          >
          <div class="uk-accordion-content">
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat proident.
            </p>
          </div>
        </li>
      </ul>
      <br />
      <br />
      <br /><br />
      <div class="teacher-box">
        <br /><br />
        <hr />
        <h2>OUR GROUP OF RESPECTED CONSULTANTS</h2>
        <hr />
        <h3>DR. B.P. AGARWAL</h3>
        <hr />
        <h3>DR. K.P. SINGH</h3>
        <hr />
        <h3>DR. D.K. CHAUHAN</h3>
        <hr />
        <h3>DR. NIRAJ KUMAR</h3>
        <hr />
        <h3>DR. MOHD MASOOD</h3>
        <hr />
        <h3>DR. S.A.M. MEESUM</h3>
        <hr />
        <h3>DR. ANEES F. RIZVI</h3>
        <hr />
        <br />
        <br />
      </div>
      <br /><br />
    </div>
    <br /><br />
    <app-footer></app-footer>
  </body>
</html>
