<div class="uk-card uk-card-default uk-card-body uk-card-hover" style="margin: 30px 10px;border:2px solid rgb(224, 224, 224)">
    <div class="uk-card-header">
        <div class="uk-card-media-top uk-height-large">
            <img [src]="imageSource" class=" uk-height-large" style="object-fit:cover;width:100%" alt="">
        </div>
        <h3 class="uk-card-title">Study of some of the medicinal plants used
            by the Kols for the treatment of diabetes.</h3>
    </div>
    <div class="uk-card-body">
        <p>Study of the status of health of the Kols of
        Shankargarh area, Allahabad.
        Gravity or gravitation, is a
        natural phenomenon by which all things with mass or energy—
        including planets, stars, galaxies, and even light[2]—are brought</p>
    </div>
    <div class="uk-card-footer">
        <button id="b1" class="uk-button uk-button-default">More Info</button>
    </div>
</div>