<app-header></app-header>
<h2>Nutrition Researches</h2>
<img
    src="https://images.unsplash.com/photo-1617535394566-bded29be5d26?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=300&ixid=MnwxfDB8MXxyYW5kb218fHx8fHx8fHwxNjE3ODY1NTQ0&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1000">
<div id="text-wrapper">
    <h3>Nutrition: a major part of a living being</h3>
    <p>Nutrition, more specifically nutritional science, is the science that studies the physiological process of
        nutrition, interpreting the nutrients and other substances in food in relation to maintenance, growth,
        reproduction, health and disease of an organism.[1]</p>
    <p>The diet of an organism is what it eats, which is largely determined by the availability and palatability of
        foods. For humans, a healthy diet includes preparation of food and storage methods that preserve
        nutrients from oxidation, heat or leaching, and that reduces risk of foodborne illnesses. The seven major
        classes of human nutrients are carbohydrates, fats, fiber, minerals, proteins, vitamins, and water.
        Nutrients can be grouped as either macronutrients or micronutrients (needed in small quantities).</p>
    <p>In humans, an unhealthy diet can cause deficiency-related diseases such as blindness, anemia, scurvy,
        preterm birth, stillbirth and cretinism,[2] or nutrient excess health-threatening conditions such as
        obesity[3][4] and metabolic syndrome;[5] and such common chronic systemic diseases as cardiovascular
        disease,[6] diabetes,[7][8] and osteoporosis.[9][10][11] Undernutrition can lead to wasting in acute cases,
        and the stunting of marasmus in chronic cases of malnutrition.[2]</p>
</div>
<div id="card-wrapper">
    <app-mini-feature-card
        img="https://images.unsplash.com/photo-1617141510407-7bbbcc8f1c55?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=350&ixid=MnwxfDB8MXxyYW5kb218fHx8fHx8fHwxNjE3ODcwNDYy&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=350"
        title="Statistical survey of plant diversity of Shankargarh area for its eco-friendly"
        info="Statistical survey of plant diversity of Shankargarh area for its eco-friendly utilization as fodder and fuel. Statistical survey of plant diversity of Shankargarh area for its eco-friendly"
        action="alert('Hi')">
    </app-mini-feature-card>
</div>
<app-footer></app-footer>